Flask==0.10.1
requests==2.11.1
gunicorn==19.4.5
flask-sqlalchemy==2.1
sqlalchemy-migrate==0.10.0
psycopg2==2.6.2
migrate==0.3.8
flask-cors==3.0.2
beautifulsoup4==4.4.1
lxml==3.7.0
pymemcache==1.4.0
Werkzeug==0.11.11